/*800000;  hex code von unserem rot, hex code von terracotta blau: 015e6a*/

/****** ÜBER DEM MENÜ *****/
.logo
{float: left;}
.prenavigationcontainer .prenavigation-right
{
float: right;
}

.prenavigationcontainer .prenavigation-right .headermenubarlinks a
{ color: #000000; text-decoration: underline; padding-left: 5px; border-left: 1px solid #000000;}
.navbar
{margin-bottom: 0px;
color: #000000;
}

/**** SEITENINHALT CONTAINER **/

p {margin: 0px; }
th
{font-size: 45px; font-weight: bold;}
.wunschtable tr td
{
margin: 0px;
padding: 0px;
}
td {font-size: 28px; font-weight: bold; color: black;
margin: 30px !important;
}
th p {
padding: 10px; }
td p {
padding: 10px; }



/****** MENÜ LEISTE *****/


.navbar-header
{

}
.navbar-default /*gesamte nav bar graue rahmen weg*/
{
background-color: #ffffff;
border: none;
}
.navbar-brand
{
padding: 0px;}
.navbar ul li /*nav bar links oberpunkte*/
{
color: #000000;
font-weight: bold; 
  text-transform: uppercase;
/* mintgruen: border: 1px solid #008080; /* border nav bar oberpunkte in siemens gruen*/
/* mintgruen border: 1px solid #000000; /* border nav bar oberpunkte in siemens gruen*/
color: #000000; /* farbe nav bar oberpunkte in siemens gruen*/
}
.navbar-nav
{
color: #000000;
height: 70px;
}
.navbar-nav li
{
color: #000000;
margin-top: 5px;
}
.navbar-default .navbar-nav  li  a
{
color: #000000;
}

.navbar-default .navbar-nav  .active  a , .navbar-default .navbar-nav  .active  a:focus  , .navbar-default .navbar-nav  .active  a:hover
{ /*faerbt den home, wenn er denn noch nicht mal ausgewählt wurde nicht standardmäassig grau*/
background-color: #ffffff;
color: #000000;
color: #000000;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover
{
background-color: #ffffff;
color: #000000;

}
.navbar-default .navbar-nav  li  a:hover
{
background-color: #ffffff;
/*color: #000000; bei hover bleibt er schwarz hiermit*/
color: #800000; /* hex code von unserem rot*/
}
.navbar-nav  li  a /* navbar bei allen hover setzen*/
{
color: #000000;

}
.navbar-nav  .dropdown-menu li  a
{
border: none; /* border nav bar unterpunkte keinen setzen in siemens gruen*/
color: #000000;
}
.navbar ul li .dropdown-menu li a /* navbar unterelemente wiedern normal schreiben*/
{
text-transform: none;
border: none; /* border nav bar unterpunkte keinen setzen in siemens gruen*/
color: black;/* keine tuerkise farbe bei unterlementen*/
}
.navbar ul li .dropdown-menu li a /* navbar unterelemente wenn hover kein roter rand im untermenu*/
{
border-bottom: none;
color: #000000;
}

