.container
{


 /*border-left: 1px solid  #b8860b;*/  /* gold border left and right*/
 /*border-right: 1px solid  #b8860b; *//* gold border left and right*/

}
/* generell die h1,2,3 designen nach cd:*/
.h1 ,.h2, .h3, .h4, h1, h2,h3,h4
{
/*color: #015e6a; /* lossins tuerkis blau => naja */
font-size: 48px;
color: #800000; /* unser terracotta rot*/
font-weight: bold;
font-family: "Arial", sans-serif;

}

.p,p, .row /* normaler text*/
{
font-family: "Arial", sans-serif;
font-size: 30px;

}

table {
border: 3px solid #b8860b;}

table th {border: 2px solid #b8860b; background-color: #b8860b; color: #ffffff; margin-left: 40px; margin-right: 40px;}

table tr {border: 2px solid #b8860b;}

table td {border: 2px solid #b8860b;}
